/* 

I- FONTS - (24) 
II- COLORS, CLASSES, AND IDS (44)
III- COLORS AND BACKGROUND (64)
IV- BORDERS AND SHADOWS (102)
V- APPARENCES DYNAMIQUES (152)
VI-THE BOX MODEL (203)
VII- 

*/



/*
selector {
    propertie 1 : value 1;
    propertie 2 : value 2;
    ...
    propertie x : value x;
}
*/

/* FONTS */

p {
    font-size: 3em; /* default is 1em */
    font-family: Verdana; /* arial black, futura, helvetica, impact, trebuchet MS, verdana */
    font-style: italic;
    font-weight: bold; /* bold, normal, thin or 100, 200..., 900 with 400 being regular */
    text-decoration: underline; /* line-through, none, overline or underline */
    text-align: center; /* center, justify, left, right */
}

.wide-text {
    font-size: 30px;
}

/* COLORS, CLASSES, AND IDS */

h1, p {
    color: pink;
}

.class-1 {
    color :blueviolet;
}

/* 
class = apply one style to all elements with that class _ specify it in css with a dot
id = apply one style to one element with that id _ specify it in css with a hash
*/

#logo {
    color: red;
}

/* COLORS AND BACKGROUND */

h1 {
    background-color: #ab01020;
    color: pink; /* you can choose a different color from the body element (white color, cf below) */
}

body {
    background-color: azure; /* background will be in azure */
    color: white; /* text will be in white */
}

/* Modify the background image's behavior */
.banner {
    padding: 100px;
    background-image: url(birds.jpg);

    background-attachment: fixed; /* the background image will not scroll with the page */
    background-size: cover; /* the background image will cover the whole banner */
    background-position: center; /* top, bottom, left, center, right */

    background: linear-gradient(90deg, #ff0000, #ff0000); /* linear-gradient(angle or direction, color1, color2) */

    opacity: 0.5; /* 1 to 0 */
}

/* "super propriété ???
.........   {
    background-image: ;
    background-repeat: ;
    background-attachment: ;
    background-position: ;
    background-size: ;
}
*/

/* BORDERS & SHADOWS */

.border-example-1 {
    border-width: 3px;
    border-style: dotted; /* solid, double, dotted, dashed */
    border-color: #EB5353;
}

.border-example-2 {
    border-top: 3px #EB5353 dotted;
    border-right: 3px #F9D923 double;
    border-bottom: 3px #36AE7C dashed;
    border-left: 3px #187498 solid;

    border-top-width: 2px;
}

.border-example-3 {
    font-size: 25px;
    background-color: skyblue;
    border-radius: 10px; 
    padding: 100px;
}

.border-example-4 {
    border-radius: 10px 30px 0px 90px;
}

.border-example-5 {
    font-size: 25px;
    background-color: skyblue;
    border-radius: 10px;
    box-shadow: 6px 6px 0px #36AE7C; /* x, y, blur, color */
    padding: 100px;
}

.border-example-6 {
    font-size: 25px;
    background-color: skyblue;
    border-radius: 10px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    padding: 100px;
}

.border-example-7 {
        font-size: 50px;
        text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
        padding: 100px;
}

/* APPARENCES DYNAMIQUES */

a:hover {
    /* css properties */

    /* you can apply the same hover effect to a p, a class etc */
}



.my-element:hover {
    background-color: #BEAEE2;
    color: white;
}

h1:hover {
    color: #CDF0EA;
}

p:hover {
    color: #F9CEEE;
}




a:active {
    background-color: #c1ffd7; /* while clicking */
}

a:focus { 
    background-color: #c1ffd7; /* while selecting */
}

a:visited {
    color: black;
}

/* Advanced selectors */

* {
    /* all elements */
}

A B {
    /* every B elements inside A elements */
}

A + B {
    /* select the first B element that is immediately followed by a A element */
}

a[attribute] {
    /* select a tag with a certain attribute cf : 
    a[title] = slect every a that has a title attribute
    */
}


/* VI- THE BOX MODEL */


/* Blocks have some settings that can be changed */

p {
    width: 350px;
    background-color: #f1c864;
    text-align: justify;
    padding: 16px;
    margin: auto; /* or specify in px */
}

/* 
margin : internal space around the content
padding : external space around the content
*/

/* margin / padding : you can specify the four sides of the box (padding-top...) or write margin: 2px 0 3px 1px; */

/* margin: auto; permit to adjust horizontally the element */






